<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    This is add/edit page~
    <p><a href="../NewsList.ashx">go back to NewsList</a></p>
    <form action="../EditNews.ashx" method="get">

        <table border="1" cellpadding="2" cellspacing="2">
            <tr>
                <th hidden="hidden">ID</th>
                <th>Title</th>
                <th>Date</th>
                <th>type</th>
                <th>People</th>
                <th>content</th>
         
            </tr>
            <tr>
                <td hidden="hidden"><input type="hidden" name="id" value="@hId" /></td>
                <td><input type="text" name="title" value="@title" /></td>
                <td><input type="text" name="date" value="@date" /></td>
                <td><input type="text" name="type" value="@type" /></td>
                <td><input type="text" name="people" value="@people" /></td>
                <td><input type="text" name="content" value="@content" /></td>
                
            </tr>
        </table>
        <input type="submit" value="submit" />
    </form>

</body>
</html>
