USE [master]
GO
/****** Object:  Database [apsxDb]    Script Date: 08/01/2013 17:17:31 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'apsxDb')
BEGIN
CREATE DATABASE [apsxDb] ON  PRIMARY 
( NAME = N'apsxDb', FILENAME = N'd:\apsxDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'apsxDb_log', FILENAME = N'd:\apsxDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [apsxDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [apsxDb]
GO
/****** Object:  Table [dbo].[Aspx_Users]    Script Date: 08/01/2013 17:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aspx_Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Aspx_Users](
	[AutoId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [varchar](150) NOT NULL,
	[LoginPwd] [varchar](50) NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[LoginIp] [varchar](50) NULL,
 CONSTRAINT [PK_Aspx_Users] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Aspx_Users] ON
INSERT [dbo].[Aspx_Users] ([AutoId], [LoginId], [LoginPwd], [LastLoginTime], [LoginIp]) VALUES (1, N'zxh', N'202cb962ac59075b964b07152d234b70', NULL, NULL)
INSERT [dbo].[Aspx_Users] ([AutoId], [LoginId], [LoginPwd], [LastLoginTime], [LoginIp]) VALUES (3, N'steve', N'202cb962ac59075b964b07152d234b70', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Aspx_Users] OFF
/****** Object:  Table [dbo].[Aspx_Type]    Script Date: 08/01/2013 17:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aspx_Type]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Aspx_Type](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Aspx_Type] ON
INSERT [dbo].[Aspx_Type] ([TypeId], [TypeName]) VALUES (1, N'国内新闻')
INSERT [dbo].[Aspx_Type] ([TypeId], [TypeName]) VALUES (2, N'国际新闻')
INSERT [dbo].[Aspx_Type] ([TypeId], [TypeName]) VALUES (3, N'体育新闻')
SET IDENTITY_INSERT [dbo].[Aspx_Type] OFF
/****** Object:  Table [dbo].[Aspx_News]    Script Date: 08/01/2013 17:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aspx_News]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Aspx_News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [nvarchar](200) NOT NULL,
	[NewsContent] [nvarchar](max) NOT NULL,
	[NewsIssueDate] [datetime] NULL,
	[NewsAuthor] [varchar](150) NULL,
	[NewsImage] [nvarchar](150) NULL,
	[NewsSmallImage] [nvarchar](150) NULL,
	[NewsTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Aspx_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Aspx_News] ON
INSERT [dbo].[Aspx_News] ([NewsId], [NewsTitle], [NewsContent], [NewsIssueDate], [NewsAuthor], [NewsImage], [NewsSmallImage], [NewsTypeId]) VALUES (3, N'国际人才交流大会山西推荐会在并举行', N'    由国家外专局和深圳市政府共同举办的2007中国国际人才交流大会，将于11月30日至12月1日在深圳举行。今天，深圳市政府在太原举行大会推荐会，向省城各媒体进行了交流大会新闻发布，并与我省各市、省直有关厅局和大型企业进行了面对面咨询交流。

    今年的大会将围绕“国际化、高端化、专业化、精品化”办会思路，组成外国专家、出国境培训机构、引智成果和国内项目需求、管理咨询及资质证书、留学人员项目推荐、国际文化产业人才智力、国际职业教育和培训人才、海外人才招聘会八大板块，并增加国际人才高峰论坛。', CAST(0x00009987008FADE5 AS DateTime), N'zxh', NULL, NULL, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Aspx_News] OFF
