<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table border="1" cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>
                    编号
                </th>
                <th>
                    用户名
                </th>
                <th>
                    密码
                </th>
                <th>
                    编辑
                </th>
                <th>
                    删除
                </th>
            </tr>
        </thead>
        <tbody>
            @rows
        </tbody>
    </table>
</body>
</html>
