@model MVCScaffold_EFCodeFirst.Models.City

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>City</legend>

    <div class="display-label">CityName</div>
    <div class="display-field">@Model.CityName</div>

    <div class="display-label">Employees</div>
    <div class="display-field">@(Model.Employees == null ? "None" : Model.Employees.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


