<div ng-controller="ListController">
    {{movies.length}}
    <table class="table">
        <tr ng-repeat="movie in movies">
            <td>{{movie.Title}}</td>
            <td>
                <a class="btn btn-default" href="#/details/{{movie.Id}}"> Details </a>
                <button class="btn btn-default" ng-click="delete(movie)"> Delete </button>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="create()">Create</button>
    <div ng-include="'/Client/views/edit.html'"></div>
</div> 