@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
	text-align:center;
	padding:0px;
	margin:0px;
}
img {
	border:0px;
}
ul{ list-style-type:none; padding:0px; margin:0px;}
li{ padding:0px; margin:0px;}




.newhuandiva{ width:700px; margin:0px auto; text-align:left;}
.newhuandiva p margin:0px; padding:0px; text-indent: 2em;}
.newhuanwz1 p{ margin:0px; padding:0px; text-indent: 2em;}
.newbfqdiv{ text-align: center; margin-top:12px; }
.newbfqdiv1{ text-align: left; }
.newyinsnametit{ color:#000; font-size:16px; font-weight:bold; text-align:left;line-height:30px; padding-top:20px;}

.newyinsname{ font-size: 16px;color: #010101; line-height: 30px;font-weight:bold; vertical-align:top; width:100%; }
.newyinsnamesmall{ color:#000;font-size: 16px;font-weight:normal;}
.newhuanwz3{ line-height:25px; font-size:16px; padding-top:5px;}
.newhuanwz3 p{ margin:0px; padding:0px; text-indent: 2em;}
.videoTitle
{
    line-height:25px; padding-top:5px;padding-bottom:0px;
    }
    .videoItem{ text-align: center; padding-top:15px; }
    .videoItemText
{
    line-height:25px; padding-top:5px;
    }
    .videoFoot
{
    line-height:25px; padding-top:10px;
    }