@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Client/Scripts/app.js"></script>
    <script src="~/Client/Scripts/controllers.js"></script>
    <script src="~/Client/Scripts/services.js"></script>
} 

<div ng-view></div>